[MASTER]

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=CVS .git .hg 


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=80

# Maximum number of lines in a module
max-module-lines=1000

# String used as indentation unit. This is usually " " (4 spaces) or "\t" (1
# tab).
indent-string='  '

indent-after-paren=2

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX,TODO

# Good variable names which should always be accepted, separated by a comma
good-names=db,bp,e,f,i,j,k,ex,Run,_,pk,x,y
