<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - Wallowa Wildlife</title>

  <meta name="description" content="Wildlife sighting checklists for Wallowa County, Oregon">
  <meta name="author" content="Jenner Hanni">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
  
<body>
  <header>

    <img src="{{ url_for('static', filename='img/hawk.png') }}"
         alt="Hawk logo">
    <h1><a href="{{ url_for('index') }}">Wallowa Wildlife</a></h1>
  
    <ul>
      {% if g.user %}
        <li><span>{{ g.user['name'] }}</span>
        <li>&nbsp;</li>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li>&nbsp;</li>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </ul>

  </header>

  <nav>
    <ul>
      <li><a href="{{ url_for('lists.listAll') }}">All</a></li>
    {% for t in types %}
    <li>
      <a href="{{ url_for('lists.listByType',url_text=t.url_text) }}">
        {{ t.name }}
      </a>
    </li>
    {% endfor %}
    </ul>
  </nav>

  <section id="messages">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
  </section>

  {% block content %}{% endblock %}

</body>
</html>
