<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Wallowa Wildlife</title>

  <meta name="description" content="Wildlife sighting checklists for Wallowa County, Oregon">
  <meta name="author" content="Jenner Hanni">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  {% if glogin %}
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  {% endif %}

</head>
  
<body>
  <header>

    <img src="{{ url_for('static', filename='img/hawk.png') }}"
         alt="Hawk logo">

    <h1 class="item"><a href="{{ url_for('index') }}">Wallowa Wildlife</a></h1>
  
    {% if g.user_id %}
    <div><a href="{{ url_for('auth.logout') }}">Log Out</a></div>
    {% else %}
    <div><a href="{{ url_for('auth.login') }}">Log In</a></div>
    {% endif %}

  </header>

  <nav>
    <ul>
      <li><a href="{{ url_for('lists.listAll') }}">All</a></li>
    {% for t in types %}
    <li>
      <a href="{{ url_for('lists.listByType',url_text=t.url_text) }}">
        {{ t.name }}
      </a>
    </li>
    {% endfor %}
    </ul>
  </nav>

  {% for message in get_flashed_messages() %}
  <section id="flash-container">
    <p class="flash">{{ message }}</p>
  </section>
  {% endfor %}

  {% block content %}{% endblock %}

</body>
</html>
