body { 
  font-family: sans-serif; 
  margin: 0 auto;
  padding: 0;
  background: #fff; 
}

a, a:visited {
  color: #1d681d;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #5c5353;
}

header {
  background-color: #242b32;
  color: #fff;
  clear: both;
  display: grid;
  height: 150px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
  justify-items: center;
  align-items: center;
}

header a, 
header a:visited {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: #cfcfcf;
}

header img {
  display: block;
  margin: 0 auto;
  width: 100px;
  padding-right: 40px;
}

nav {
  background-color: #44515e;
  list-style: none;
  margin: 0 0 40px 0;
  padding: 20px 0;
  text-align: center;
}

nav li {
  display: inline;
  padding: 10px 20px;
}

nav a, nav a:visited {
  display: inline-block;
  color: #fff;
}

ul {
  list-style: none;
}

section {
  margin: 0 auto;
  max-width: 960px;
}

section h2 {
  text-align: center;
}

section img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#auth form {
  text-align: center;
}

table {
  margin: 10px auto 60px;
}

table tr {
  height: 2em;
  vertical-align: center;
}

table th, td {
  padding: 10px;
  text-align: left;
}

table tr:nth-child(odd) td{
  background-color: #efefef;
  margin: -1px;
}

table tr:nth-child(even) td{
  background-color: #fff;
}

.center {
  text-align: center;
}

.wildlife {
  margin: 0 auto 15px;
  max-width: 100%;
  width: 300px;
}

.wildlife img {
  width: 100%;
}

.wildlife figcaption {
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.wikipedia {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}
