{% extends 'base.html' %}

{% block content %}
<section id="lists">
  <h2>Delete {{ creature.name_common }}</h2>

  <form action="{{ url_for('lists.deleteCreature', creature_id = creature.id)}}" 
    method="POST" class="center">
    <div class="submit-container">
      <input class="submit" type="submit", value="Delete">
       <a href='{{url_for('lists.showCreature', creature_id = creature.id)}}'>
         <p class="submit cancel">
           Cancel
         </p>
       </a>
    </div>
  </form>


</section>
{% endblock %}
