{% extends 'base.html' %}

{% block content %}
<section id="lists">
  <h2>{{ page_title }}</h2>

  <p class="center">
    <a href="{{ url_for('lists.addCreature') }}">Add an Entry</a>
  </p>

  <table cellpadding="0" cellspacing="0">
    <tr>
      <th>Common Name</th>
      <th>Latin Name</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>

    {% for c in creatures | sort(attribute = 'name_common') %}
    <tr>
      <td><a href="{{ url_for('lists.showCreature', creature_id=c.id) }}">{{ c.name_common }}</a></td>
      <td><em>{{ c.name_latin }}</em></td>
      {% if c.user_id == g.user['id'] %}
        <td><a class="button" href='{{url_for('lists.editCreature', creature_id = c.id) }}'>Edit</a></td>
        <td><a class="button" href='{{url_for('lists.deleteCreature', creature_id = c.id) }}'>Delete</a></td>
      {% else %}
        <td></td>
        <td></td>
      {% endif %}
    </tr>
    {% endfor %}

  </table>

</section>
{% endblock %}
