{% extends 'base.html' %}

{% block content %}
<section id="auth">
  <div id="login-result"></div>

  <div id="signinButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="1085124983704-9mth9hn4jg3mv512mpsq9bbmfrf4rmq8.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>
</section>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');

    // Send the one-time-use code to the server, 
    // if the server responds, flash 'login successful' 
    // and redirect back to the main list page
    $.ajax({
      type: 'POST',
      url: '/auth/login?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#login-result').attr('class', 'flash')
                     .html('Login Successful!</br>Redirecting...');
         setTimeout(function() {
          window.location.href = "/wildlife";
         }, 1000);
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }

</script>

{% endblock %}
